<div class="container">
  <div class="row">
　  <div class="mx-auto my-4">
	  <h2 class="border border-dark p-3">管理者トップページ</h2>
	</div>
  </div>
  
  <div class="row">
　  <div class="mx-auto my-4">
	    <p class="border border-dark p-3">
	      こちらは管理者ページです。<br />
	      ヘッダーから各ページへ移動し、<br />
	      ・投稿の管理、編集<br />
	      ・会員の管理、編集<br />
	      ・ジャンルの追加、編集<br />
	      を行ってください。<br />
	    </p>
	</div>
  </div>
</div>
